<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>公告列表</title>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-nav.js"></script>
    <script src="js/jquery-1.10.2.min.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>

</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>公告列表</h1>
    </div>
    <div id="newsList">
        <div class="list-group">
            <a href="#" class="list-group-item" v-for="item in items">
                <h4 class="list-group-item-heading">{{item.newsTitle}}</h4>
                <p class="list-group-item-text">{{item.createDate}}</p>
            </a>
<!--            <li class="list-group-item" v-for="item in items" >
                {{item.newsTitle}}
            </li>-->
        </ul>
            <div class="page-footer">
                <vue-nav :cur.sync="cur" :all.sync="all" v-on:btn-click="onclickListen"></vue-nav>
                <p>{{msg}}</p>
            </div>

    </div>
</div>
<script type="text/javascript">
    var newsList = new Vue({
        el: '#newsList',
        data:{
            cur: 0,
            all: 1,
            msg: '',
            items:""
        },
        components:{
            'vue-nav': Vnav
        },
        methods:{
            onclickListen:function(data){
                getNewsList(newsList.cur -1);
            }
        }
    })
    getNewsList(0);
    function getNewsList(index) {
        $.ajax({
            type : "get",
            url  : "/news/getMatchNewsList",
            cache : false,
            async: true,
            dataType:"json",
            data : {
                page:index,
                size:2
            },
            success : function(data) {
                if (data.code == RESULT_SUCCESS) {
                    var returnData = data.data;
                    newsList.items = returnData.content;
                    newsList.cur=returnData.number+1;
                    newsList.all = returnData.totalPages;
                    //alert("添加成功");
                } else {
                    alert(data.msg);
                }
            }
        });
    }
</script>
</body>
</html>